In [ ]:
 #def func(argum)
 s = lambda a : a * a
 print(s)

<function <lambda> at 0x7f6e84c36c20>

In [ ]:
print(s(5))

25

In [ ]:
def sqr(a):
  a = a* a
  print(a)

In [ ]:
sqr(5)

25

In [ ]:
def cube(x):
  g = x * x * x
  print(g)

In [ ]:
t = lambda j: j*j*j
print(t(3))

27

In [ ]:
#reduction functions : filter , map, reduce

In [ ]:
stu_marklist = [98,97,96,95,45,68,90]
toppers = list(filter ( lambda a: (a >= 85),stu_marklist))
print(toppers)

[98, 97, 96, 95, 90]

In [ ]:
secondclass = list(map(lambda b : (b <60),stu_marklist))
print(secondclass)

[False, False, False, False, True, False, False]

In [ ]:
girls = [ 'sasi','soniya','indu','gayu','kayal']
upp_girls = list(map(lambda s : s.upper(),girls))
print(upp_girls)

['SASI', 'SONIYA', 'INDU', 'GAYU', 'KAYAL']

In [ ]:
from functools import reduce  #functools
g2 = reduce((lambda  i,j : i+j),stu_marklist)
print(g2)

589

In [ ]:
nums = [1, 2, 3, 4]
ans = reduce(lambda x, y: x + y, nums)
print(ans)

10

In [ ]:
def product(x,y):
    return x*y

ans = reduce(product, [2, 5, 3, 7])
print(ans)

210

In [ ]:
def mini(a, b):
    return a if a < b else b

def maxi(a, b):
    return a if a > b else b


nums = [3, 5, 2, 4, 7, 1]

In [ ]:
mini(87,67)

67

In [ ]:
ans = map(lambda a: 2*a, [3, 5])


#print(type(ans))

print(list(ans))

[6, 10]

the map function applies the lambda function to every element in the iterable one by one, and at the end, an iterator is returned. Here, the type of returned list is <class 'map'>.